@import "node_modules/include-media/dist/include-media";

@mixin wp-47-fix {
  margin-top: 0 !important;
  body {
    margin-top: 0 !important;
  }
}

.bravo-wp-adminbar-bottom {
  @include wp-47-fix;

  &.admin-bar { 
    margin-top: -28px;
    padding-bottom: 28px;
  }

  #wpadminbar {
    top: auto !important;
    bottom: 0;
    position: fixed;
    .ab-sub-wrapper {
      bottom: 28px;
    }
  }

  #wp-admin-bar-new_draft {
    display: none !important;
  }
}

@media screen and (max-width: 782px) {
  .bravo-wp-adminbar-bottom {
    @include wp-47-fix;
  }
}
